.container {
  .title {
    margin-top: 24px;

    h3 {
      font-size: 32px;
      color: #303030;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      color: #8f8f8f;
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .price {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 15px;

    .sale {
      height: 21px;
      width: 50px;
      padding-top: 3px;
      background-color: #e24b33;
      font-size: 13px;
      color: #fff;
      border-radius: 15px;
      text-align: center;

      p {
        font-size: 13px;
        font-weight: 500;
        vertical-align: middle;
      }
    }

    span {
      color: #8f8f8f;
      text-decoration: line-through;
    }

    p {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .line {
    height: 1px;
    width: 100%;
    background-color: #f0f0f0;
    margin-bottom: 30px;
  }
}
