.container {
  margin-bottom: 33px;
  h4 {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
  }
  .wrapper {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    .color_gray_wrapper {
      width: 32px;
      height: 32px;
      border: 1px solid #dadada;
      border-radius: 50%;
      transition: border 0.3s ease;
      &:hover {
        border: 1px solid #303030;
        cursor: pointer;
      }

      .color_gray {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #d9d9d9;
        margin: 0 auto;
        transform: translateY(13%);
      }
    }
    .color_yellow_wrapper {
      width: 32px;
      height: 32px;
      border: 1px solid #dadada;
      border-radius: 50%;
      transition: border 0.3s ease;
      &:hover {
        border: 1px solid #303030;
        cursor: pointer;
      }

      .color_yellow {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #f1cb7e;
        margin: 0 auto;
        transform: translateY(13%);
      }
    }
    .color_orange_wrapper {
      width: 32px;
      height: 32px;
      border: 1px solid #dadada;
      border-radius: 50%;
      transition: border 0.3s ease;
      &:hover {
        border: 1px solid #303030;
        cursor: pointer;
      }

      .color_orange {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #ea8c48;
        margin: 0 auto;
        transform: translateY(13%);
      }
    }
    .color_green_wrapper {
      width: 32px;
      height: 32px;
      border: 1px solid #dadada;
      border-radius: 50%;
      transition: border 0.3s ease;
      &:hover {
        border: 1px solid #303030;
        cursor: pointer;
      }

      .color_green {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #a7e492;
        margin: 0 auto;
        transform: translateY(13%);
        opacity: 0.3;
      }
    }
  }
}
