@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  max-width: 1300px;
  margin: 0 auto;
  color: #303030;
}

h1,
h2,
h3 {
  font-family: 'Prata', serif;
}

li {
  list-style-type: none;
}
