.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 370px;
  width: 310px;
  border: 1px solid #f0f0f0;
  position: relative;
  padding: 20px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  // cursor: pointer;

  .wrapper {
    .descr {
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 10px;
    }
    .price {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 20px;

      .rate {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      p {
        font-size: 18px;
        font-weight: 600;
      }

      .sale {
        height: 21px;
        width: 50px;
        padding-top: 3px;
        background-color: #e24b33;
        font-size: 13px;
        color: #fff;
        border-radius: 15px;
        text-align: center;

        p {
          font-size: 13px;
          font-weight: 500;
        }
      }
    }
  }

  span {
    color: #8f8f8f;
    text-decoration: line-through;
  }

  p {
    font-size: 14px;
    max-width: 250px;
  }

  .heart {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  .eye {
    position: absolute;
    top: 50px;
    right: 20px;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  .discount {
    height: 20px;
    width: 50px;
    background-color: #5b8a8f;
    color: #fff;
    border-radius: 15px;
    padding-top: 1px;
    text-align: center;
    font-size: 13px;
    position: absolute;
    top: 15px;
    left: 24px;

    p {
      padding: 0 5px;
    }
  }
}
