.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .arrows {
    display: flex;
    gap: 10px;
    img {
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  .wrapper {
    display: flex;
    gap: 10px;
  }

  .filter {
    height: 40px;
    width: 110px;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 0 10px;

    p {
      text-align: center;
      line-height: 37px;
    }

    &:hover {
      cursor: pointer;
      background-color: #303030;
      color: #fff;
    }
  }
}
