.container {
  margin-bottom: 120px;

  h2 {
    margin-bottom: 30px;
  }

  .filter {
    margin-bottom: 30px;
  }

  .card {
    margin-bottom: 120px;
  }

  .specialOffer {
    margin-bottom: 120px;
  }
}
