.container {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-right: 50px;
    margin-left: 20px;
  }

  a {
    color: #303030;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.5;
    }
  }
}
